{% load static %}
{% load index %}
{% load i18n %}
<html>
  <head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
      @page {
        size: 180mm 275mm;
        margin: 10mm 20mm 10mm 20mm;
        @frame footer_frame {           /* Static frame */
            -pdf-frame-content: footer_content;
            width: 100%;
            bottom: 0;
            height: 80px;
        }
      }
      html,  body {
        height: 100%;
        font-size: 12px;
      }
      .bold {
        font-weight: 300;
      }
      .highlight {
        background-color: #FFFF00;
      }
      .logo{
        width: 120px;
        height: 40px;
      }
      p {
        font-size: 80%;
        font-weight: lighter;
      }
      table {
        width: 100%; 
        font-size: 80%;
        border-spacing: 0;
      }
      tr {
        height: 15px;
      }
      th, td {
        padding: 0;
        border: none;
      }
    </style>
  </head>
  <body>
    {% language 'es' %}
    <table >
      <tr style="height:50px;">
        <th>
          <img class="logo" align="left" src="{% static 'logo.png' %}">
        </th>
        <th style="font-size: {{ tamaño_letra }}%; vertical-align:bottom; text-align: right; margin-bottom: 0;">
          <h4 style="margin:0; font-weight:bold">OFERTA DE COMPRA</h4>
          <h4 style="margin:0;font-weight:lighter">{{ Folio }}</h4>
          {% now "d" as day %}
          {% now "F" as month %}
          {% now "Y" as year %}
          <h4 style="margin:0;font-weight:lighter">
            {{ proyecto.ComunaID.ProvinciaID.Name }}, {{ day }} de {{ month }} de {{ year }}
          </h4>
        </th>
      </tr>
    </table>
    <br>
    <div>
      <p style="margin:0; font-weight:bold"> Señor(a) </p>
      <p style="margin:0; font-weight:bold"> {{ corredores }} </p>
      <p style="text-decoration:underline;margin:0"> Presente</p>
      <p style="margin-top:2px;"> De vuestra consideración:</p>
      <p style="margin-top:1px;">
        Por su intermedio yo, {{ cliente }}, cédula de identidad N° {{ cliente.Rut | rutformat }},
        me permito formular la siguiente proposición de compra por los inmuebles
        correspondientes al proyecto {{ proyecto.Name }}, ubicado en {{ proyecto.Address }}, comuna de
        {{ proyecto.ComunaID.Name }}, provincia de {{ proyecto.ComunaID.ProvinciaID.Name }}, de propiedad de
        <strong> {{ proyecto.InmobiliariaID.RazonSocial }}: </strong>
      </p>
    </div>
    
    <h2 style="font-size: 80%; margin-bottom:0">
      1. <strong> <span style="text-decoration:underline">INMUEBLES</span></strong>
    </h2>
    <table>
      {% for reserva_inmueble in inmuebles_a_reservar %}
      <tr>
        <td style="padding-left: 10px">
          {{ reserva_inmueble.InmuebleID.InmuebleTypeID.Name }}
          {% if reserva_inmueble.InmuebleID.IsNotUsoyGoce %}
            (UyG)
          {% endif %}
        </td>
        <td>
          N°{{ reserva_inmueble.InmuebleID.Number }}
        </td>
        <td>
          {% if reserva_inmueble.InmuebleID.Floor %}
            del Piso N°{{ reserva_inmueble.InmuebleID.Floor }}
          {% else %}
            del 1er. Piso
          {% endif %}
          {% if reserva_inmueble.InmuebleID.Orientation %}
            ( {% for ori in reserva_inmueble.InmuebleID.Orientation %}
                {{ori.Description}} -
              {% endfor %} )
          {% endif %}
          {% if reserva_inmueble.InmuebleID.InmuebleTypeID.Name == "Departamento" %}
          , {{ reserva_inmueble.InmuebleID.BedroomsQuantity }}D{{ reserva_inmueble.InmuebleID.BathroomQuantity }}B
          {% endif %}
        </td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">
          {% if reserva_inmueble.Discount %}
            {% with discount_uf=reserva_inmueble.InmuebleID.Price|discount:reserva_inmueble.Discount %}
              {% with total_uf=reserva_inmueble.InmuebleID.Price|subtract:discount_uf %}
                {{ total_uf | floatformat:2 }}
              {% endwith %}
            {% endwith %}
          {% else %}
              {{ reserva_inmueble.InmuebleID.Price | floatformat:2 }}
          {% endif %}
        </td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right; padding-right: 5px;">
          {% if reserva_inmueble.Discount %}
            {% with reserva_inmueble.InmuebleID.Price|discount:reserva_inmueble.Discount as discount_uf %}
                {% with total_uf=reserva_inmueble.InmuebleID.Price|subtract:discount_uf %}
                    {% with total_pesos=total_uf|multiply:uf %}
                        {{ total_pesos | numberformat }}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
          {% else %}
            {% with reserva_inmueble.InmuebleID.Price|multiply:uf as valor %}
                {{ valor | numberformat }}
            {% endwith %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% if porcentaje_departments_discount %}
        <tr style="height: 16px;">
          <td>&nbsp;</td>
          <td >&nbsp;</td>
          <td style="font-weight:bold;">PRECIO DE LISTA</td>
          <td style="text-align: center;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">UF</td>
          <td style="text-align: right;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">
            {{ total_uf | floatformat:2 }}
          </td>
          <td style="text-align: center;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">$</td>
          <td style="text-align: right;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000; padding-right: 5px;">
            {% with total_pesos=total_uf|multiply:uf %}
              {{ total_pesos | numberformat }}
            {% endwith %}
          </td>
        </tr>
        <tr style="height: 16px;">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td style="font-weight:bold;">
            {{porcentaje_departments_discount}}% Dscto. sólo en Depto.
          </td>
          <td style="text-align: center;font-weight:bold;">UF</td>
          <td style="text-align: right;font-weight:bold;">
            {{ total_departments_discount | floatformat:2 }}
          </td>
          <td style="text-align: center;font-weight:bold;">$</td>
          <td style="text-align: right;font-weight:bold; padding-right: 5px;">
            {% with total_pesos=total_departments_discount|multiply:uf %}
              {{ total_pesos | numberformat }}
            {% endwith %}
          </td>
        </tr>
      {% endif %}
      <tr style="height: 16px; width: 100%;">
        <td style="width: 25%">&nbsp;</td>
        <td style="width: 10%">&nbsp;</td>
        <td style="width: 32%;font-weight:bold;">PRECIO DE VENTA</td>
        <td style="width: 4%;text-align: center;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">UF</td>
        <td style="width: 12%;text-align: right;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">
          {% with total_pesos=total_uf|subtract:total_departments_discount %}
            {{ total_pesos | floatformat:2 }}
          {% endwith %}
        </td>
        <td style="width: 4%;text-align: center;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000;">$</td>
        <td style="width: 13%;text-align: right;font-weight:bold; padding-top: 1px;border-top: 0.8px solid #000000; padding-right: 5px;">
          {% with val=total_uf|subtract:total_departments_discount %}
            {% with total_pesos=val|multiply:uf %}
              {{ total_pesos | numberformat }}
            {% endwith %}
          {% endwith %}
        </td>
      </tr>
    </table>

    <h2 style="font-size: 80%; margin: 0;">
      2. <strong> <span style="text-decoration:underline">PRECIO Y FORMA DE PAGO</span></strong>
    </h2>    
    <p style="margin:0; padding-left:7px;">
      El precio de los inmuebles que propongo comprar será de UF 
      <strong> {{ total_uf | floatformat:2 }} </strong>, 
      que pagaré de la siguiente forma:
    </p>
    <table>
      {% if total_cuotas %}
      <tr>
        <td style="padding-left: 10px">En {{ cuotas_data|length }} cuota(s)</td>
        <td style="text-align: right;">{{ porcentaje_cuotas | floatformat:2 }}% </td>
        <td style="text-align: left; padding-left: 5px"> Cuota(s) de UF
          {% with len=cuotas_data|length %}
            {% with div_val=total_cuotas|div:len %}
              {{ div_val | floatformat:2 }}
            {% endwith %} c/u.
          {% endwith %}
        </td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_cuotas | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">          
          {% with total_pesos=total_cuotas|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>      
      {% endif %}

      {% if total_firma_promesa %}
      <tr>
        <td style="padding-left: 10px">A la firma de Promesa</td>
        <td style="text-align: right;">{{ porcentaje_firma_promesa | floatformat:2 }}%</td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_firma_promesa | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=total_firma_promesa|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>      
      {% endif %}

      {% if total_firma_escritura %}
      <tr>
        <td style="padding-left: 10px">A la firma de Escritura</td>
        <td style="text-align: right;">{{ porcentaje_firma_escritura | floatformat:2 }}%</td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_firma_escritura | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=total_firma_escritura|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>      
      {% endif %}
      
      {% if total_subsidio %}
      <tr>
        <td style="padding-left: 10px">Pago con subsidio</td>
        <td style="text-align: right;">{{ porcentaje_subsidio | floatformat:2 }}%</td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_subsidio | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=total_subsidio|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>      
      {% endif %}

      {% if total_libreta %}
      <tr>
        <td style="padding-left: 10px">Libreta de Ahorro</td>
        <td style="text-align: right;">{{ porcentaje_libreta | floatformat:2 }}%</td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_libreta | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=total_libreta|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>      
      {% endif %}

      {% if total_credito %}
      <tr>
        <td style="padding-left: 10px">Crédito Inst. Financiera</td>
        <td style="text-align: right;">{{ porcentaje_credito | floatformat:2 }}%</td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">{{ total_credito | floatformat:2 }}</td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=total_credito|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>
      {% endif %}

      {% if ahorro_plus %}
      <tr>
        <td style="padding-left: 10px">Ahorro Plus</td>
        <td style="text-align: right;">
          {{ porcentaje_ahorro_plus | floatformat:2 }}%
        </td>
        <td></td>
        <td style="text-align: center;">UF</td>
        <td style="text-align: right;">
          {{ ahorro_plus | floatformat:2 }}
        </td>            
        <td style="text-align: center;">$</td>
        <td style="text-align: right;">
          {% with total_pesos=ahorro_plus|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>
      {% endif %}
      <tr style="height: 20px; width: 100%;">
        <td style="width: 28%">&nbsp;</td>
        <td style="width: 10%">&nbsp;</td>
        <td style="width: 25%">&nbsp;</td>
        <td style="width: 7%;text-align: center;font-weight: bold;border-top: 0.8px solid #000000;">UF</td>
        <td style="width: 12%;text-align: right;font-weight: bold;border-top: 0.8px solid #000000;">
          {{ total_pago | floatformat:2 }}
        </td>
        <td style="width: 5%;text-align: center;font-weight: bold;border-top: 0.8px solid #000000;">$</td>
        <td style="width: 13%;text-align: right;font-weight: bold;border-top: 0.8px solid #000000;">
          {% with total_pesos=total_pago|multiply:uf %}
            {{ total_pesos | numberformat }}
          {% endwith %}
        </td>
      </tr>
    </table>
    
    <p style="font-size: 80%; margin: 0;">
      <strong>3. </strong> La Referida oferta está sujeta a las siguientes condiciones:
    </p>
    <p style="padding-left:5px; margin:0">
      a) Aceptación por parte del vendedor, caso en la cual quedará irrevocablemente firmado el consentimiento.<br>
      b) Que los títulos de dominio de los inmuebles se encuentren ajustados a derecho.<br>
      c) Que la entrega material del inmueble se efectúe conjuntamente a la suscripción de todas las partes de la escritura de compraventa.
    </p>

    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:45px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px; padding-top: 0.5px;"> <strong>4.</strong> </td>
        <td>
          Para formalizar la oferta de compra, hago entrega para su cobro de la suma de ${{ proyecto.GuaranteeAmount | numberformat }}, 
          a nombre de {{ corredores }} con el objeto de que esa suma, 
          sirva para cubrir todos o parte de mis gastos de operación por esta compra.
        </td>
      </tr>
    </table>

    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:30px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px; padding-top: 0.5px;"> <strong>5.</strong> </td>
        <td>
          Mi proposición de compra tendrá una validez de 10 días a contar de esta fecha; 
          aceptada ésta, suscribiré la respectiva promesa de compra y venta el día {{ DateFirmaPromesa | date:"d/m/Y" }}..
        </td>
      </tr>
    </table>

    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:90px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px; padding-top: 0.5px;"> <strong>6.</strong> </td>
        <td>
          ACEPTADA LA OFERTA, SI NO SUSCRIBIERE DICHA PROMESA O ME DESISTIERA DE LA COMPRA , ME OBLIGO A
          PAGAR A FAVOR DE {{ gestion | upper }} UNA COMISIÓN DE 0,5% DEL PRECIO DE VENTA DE LOS
          INMUEBLES MATERIA DE ESTA OFERTA, FACULTANDO A ESTA EMPRESA PARA RETENER LA SUMA SEÑALADA
          EN EL Nº4 PRECEDENTE, EN PAGO DE LA MISMA. Aceptada la oferta y celebrado que fuere el contrato prometido, no existirá
          pago de comisión alguna para el corredor. En el evento de que mi proposición no fuere aceptada, ustedes deberán devolverme la
          suma entregada en señal de seriedad de la presente proposición de compra
        </td>
      </tr>
    </table>

    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:45px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px; padding-top: 0.5px;"> <strong>7.</strong> </td>
        <td>
          Declaro estar en conocimiento de que la numeración de la bodega y del estacionamiento queda sujeta a cambios, 
          como también que pueden existir cambios en el proyecto de construcción por exigencias municipales o necesidad 
          de adecuación.
        </td>
      </tr>
    </table>

    {% if proyecto.ProjectClauses and proyecto.ProjectClauses != "" %}
    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:100px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px;"> <strong>8.</strong> </td>
        <td style="vertical-align: top;">
          {{ proyecto.ProjectClauses }}
        </td>
      </tr>
    </table>
    {% endif %}

    {% if conditions %}
    <table style="width: 100%; margin-top: 10px;">
      <tr style="height:200px;">
        <td style="width: 15px; vertical-align:top; padding-left: 1px;"> <strong>9.</strong> </td>
        <td style="vertical-align: top;">
          <strong> <span style="text-decoration:underline">NOTAS</span></strong><br>          
            {% for condition in conditions %}
              - {{ condition.Description }}
            {% endfor %}          
        </td>
      </tr>
    </table>
    {% endif %}

    <div id="footer_content">
      <table>
        <tr style="height:60px;">
          <td style="width: 20%;"></td>
          <td style="border-top: 1.2px solid #000000;padding-top:3px;text-align: center; vertical-align: top;">
            <p style="font-weight: bold;">
              {{ cliente }} <br>
              C.I {{ cliente.Rut | rutformat }}
            </p>
          </td>
          <td style="width: 10%;"></td>
          <td style="border-top: 1.2px solid #000000;padding-top:3px;text-align: center; vertical-align: top;">
            <p style="font-weight: bold;">
              {{ VendedorID }}<br>
              {{ corredores }} <br>
              {{ telefono }} <br>
              {{ email }}
            </p>
          </td>
          <td style="width: 20%;"></td>        
        </tr>
      </table>
    </div>
    {% endlanguage %}
  </body>
</html>
