{% load static %}
{% load index %}
{% load i18n %}
<html>

<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        @page {
            size: 180mm 275mm;
            margin: 2mm;
        }

        html,
        body {
            height: 100%;
        }

        body {
            height: 30px;
            font-size: 20px;
        }

        .bold {
            font-weight: 300;
        }

        .highlight {
            background-color: #FFFF00;
        }

        .logo {
            width: 120px;
            height: 50px;
        }
    </style>
</head>

<body>
{% language 'es' %}
    <table>
        <tr style="height:50px;">
            <th><img class="logo" align="left" src="{% static 'logo.png' %}"/></th>
            <th style="">
                <h6 style="text-align: right"> PRE APROBACIÓN DE CRÉDITO </h6>
                <p style="text-align: right;font-weight: lighter;"> {{ reserva.Folio }}</p>
                {% now "d" as day %}
                {% now "F" as month %}
                {% now "Y" as year %}
                <p style="text-align: right;font-weight: lighter;">
                    {{ reserva.ProyectoID.ComunaID.ProvinciaID.Name }}, {{ day }} de {{ month }} de {{ year }}
                </p>
            </th>
        </tr>
    </table>
    </br>
    <table>
        <tr style="font-size: 22px;">
            <th style="text-align: left">
                <b> PRE APROBACIÓN DE CRÉDITO </b>
            </th>
        </tr>
    </table>
    <table>
        <tr style="font-size: 20px;">
            <th style="text-align: left">
                <b>Antecedentes Laborales</b>
            </th>
        </tr>
    </table>
    <table style="height: 20px">
        <thead>
        <tr>
            <th style="width: 120px; text-align: left" colspan="2"> ¿QUÉ TIPO DE EMPLEO TIENE?</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: {{ tamaño_letra }}%;">
            <td style="text-align: left;">
                {% if reserva.Client.Independent %}
                    Independiente
                {% else %}
                    Contrato
                {% endif %}
            </td>
            <td style="text-align: left;">Cargo Actual Cliente:  {{ reserva.Client.CurrentPosition }}</td>
        </tr>
        {% if reserva.Client.Independent %}
        <tr style="">
            <td style="text-align: left;">
                ¿DURANTE CUANTO TIEMPO?
            </td>
            <td style="text-align: left;font-size: {{ tamaño_letra }}%;">Antigüedad Laboral:  {{ reserva.Client.Antiguedad }}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <table style="height: 20px">
        <thead>
        <tr>
            <th style="text-align: left;" colspan="2"> ¿DÓNDE TRABAJA?</th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">Nombre Empleador: <span>
                {% if reserva.Client.IsCompany %}
                    {{ empresa_compradora.RazonSocial }}
                {% else %}
                    {{ empleador.RazonSocial }}
                {% endif %}
            </span></td>
            <td style="text-align: left;">RUT Empleador: <span>
                {% if reserva.Client.IsCompany %}
                    {{ empresa_compradora.Rut }}
                {% else %}
                    {{ empleador.Rut }}
                {% endif %}
            </span></td>
        </tr>
        <tr style="">
            <td style="text-align: left;">Teléfono Empleador: <span>
                {% if reserva.Client.IsCompany %}
                    {{ empresa_compradora.Extra.Phone }}
                {% else %}
                    {{ empleador.Extra.Phone }}
                {% endif %}
            </span></td>
            <td style="text-align: left;">Dirección Empleador: <span>
                {% if reserva.Client.IsCompany %}
                    {{ empresa_compradora.Extra.Address }}
                {% else %}
                    {{ empleador.Extra.Address }}
                {% endif %}
               </span></td>
        </tr>
        </tbody>
    </table>
    <table style="">
        <tr style="font-size: 20px;">
            <th style="text-align: left">
                <b>Renta</b>
            </th>
        </tr>
    </table>
    <table style="height: 20px">
        <thead>
        <tr>
            <th style="width: 120px;text-align: left;" colspan="2"><b>¿CUÁL ES SU SUELDO?</b></th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">Sueldo Fijo Líquido: <span>${{ client.Extra.Values.LiquidIncome }}</span></td>
            <td style="text-align: left;">Sueldo Variable: <span>${{ client.Extra.Values.VariableSalary }}</span></td>
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">Honorarios Bruto: </span><span>${{ client.Extra.Values.Honoraries }}</span></td>
        </tr>
        </tbody>
    </table>
    <table style="height: 20px">
        <thead>
        <tr>
            <th style="width: 120px; text-align: left;" colspan="4"><b>¿TIENE ALGUNA ENTRADA EXTRA DE DINERO?</b></th>
        </tr>
        </thead>
        <tbody>
        <tr style="font-size: 12px;">
            <td style="text-align: left;" colspan="2">Arriendo Bienes Raíces -{{ client.Extra.Values.RealStateLeasing }}</td>
            <td style="text-align: left;" colspan="2">Retiros -{{ client.Extra.Values.Retirements }}</td>
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;" colspan="4">Pensión -{{ client.Extra.Values.Pension }}</td>
        </tr>
        <tr class="align-middle-group" style="font-size: 14px;">
            <td><span class="">Renta Líquida</span></td>
            <td><span class=""><b>${{ total_liquid }}</b></span></td>
            <td colspan="2"><span class="">La Renta Cumple con los Requisitos</span></td>
        </tr>
        </tbody>
    </table>
    <table style="font-size:20px">
        <tr>
            <th style="text-align: left">
                <b>Vivienda Actual</b>
            </th>
        </tr>
    </table>
    <table style="height: 20px">
        <tbody>
        <tr style="font-size: 12px;">
            {% if reserva.Client.IsOwner %}
                <td style="text-align: left;">Arriendo</td>
            {% else %}
                <td style="text-align: left;">Propietario</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <table style="font-size: 20px">
        <tr>
            <th style="text-align: left">
                <b>Patrimonio Activos</b>
            </th>
        </tr>
    </table>
    <table style="height: 20px">
        <tbody>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE BIENES RAÍCES?</td>
             {% if patrimony.RealState %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE CRÉDITO HIPOTECARIO?</td>
            {% if patrimony.CreditoHipotecario.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE VEHÍCULO?</td>
           {% if patrimony.Vehicle %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE DEPÓSITOS / ACCIONES?</td>
            {% if patrimony.DownPayment %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE OTROS PATRIMONIOS?</td>
            {% if patrimony.Other %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="">
            <td style="text-align: left;"><b>Total Activos</b></td>
            <td style="text-align: left;"><b>${{ total_activos }}</b></td>
        </tr>
        </tbody>
    </table>
    <table style="font-size: 20px">
        <tr style="">
            <th style="text-align: left">
                <b>Patrimonio Pasivol</b>
            </th>
        </tr>
    </table>
    <table style="height: 20px">
        <tbody>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE TARJETA DE CRÉDITO?</td>
            {% if patrimony.CreditCard.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE CRÉDITOS DE CONSUMO?</td>
            {% if patrimony.CreditoConsumo.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿TIENE PRÉSTAMOS CON SU EMPLEADOR?</td>
            {% if patrimony.PrestamoEmpleador.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿ES AVAL DE ALGUNA DEUDA?</td>
            {% if patrimony.DeudaIndirecta.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿Otro crédito?</td>
            {% if patrimony.CreditCard.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="font-size: 12px;">
            <td style="text-align: left;">¿CREDITO COMERCIO?</td>
            {% if patrimony.AnotherCredit.PagosMensuales %}
                <td style="text-align: left;"><b>Si</b></td>
            {% else %}
                <td style="text-align: left;"><b>No</b></td>
            {% endif %}
        </tr>
        <tr style="">
            <td style="text-align: left;"><b>Total Pasivos</b></td>
            <td style="text-align: left;"><b>${{ total_pasivos }}</b></td>
        </tr>
        </tbody>
    </table>
{% endlanguage %}
</body>
</html>